[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
django-allauth = "==0.41.0"
django-crispy-forms = "*"
django-session-security = "*"
coverage = "*"

[dev-packages]
autopep8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
