{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="users-forms-container">
    <h1 class="text-shadow">{% trans "Confirm E-mail Address" %}</h1>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="forms-message">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="username-display" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user: <span class="username-display">{{ user_display }}</span>.{% endblocktrans %}</p>

    <form class="forms-container" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
        <button class="custom-btn" type="submit">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p class="forms-message">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="username-display" href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}
</div>
{% endblock %}
