{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="users-forms-container my-5">    
    <h1 class="text-shadow">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set forms-container">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="custom-btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
