{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid profile-home-container">
    <div class="row text-center">
        <div class="col-12 col-md-4 p-2 mx-auto mt-4 d-flex">
            <h2 class="d-flex justify-content-between align-self-center"><i
                    class="fas fa-ship pr-3 align-self-center"></i> What's Next?</h2>
        </div>
        <div class="col-12 col-md-4 p-2 mx-auto mt-4 h5">
            <form action="" method="get" id="my_form">
                <label for="months"><strong>Select Month:</strong></label>
                <select onchange="submit_form()" class="d-block mx-auto" name="months" id="months">
                    <option disabled>Select Month</option>
                    <option value='1'>Janaury</option>
                    <option value='2'>February</option>
                    <option value='3'>March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>
            </form>
        </div>
        <div class="col-12 col-md-4 p-2 h5 mx-auto mt-4">
            <div class="mw-50 w-100 ml-auto"><strong>Today is:</strong>
                <div id="date"></div>
            </div>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-12 mx-auto col-lg-4 mt-4 ml-lg-auto mr-lg-0 text-center">
            <div class="add-task-btn">
                <a href="{% url 'add_task' %}">Add Task +</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="mx-auto mt-5">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Owner</th>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>Duration</th>
                        <th>Approval</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.assigned_to.get_rank_display }}</td>
                        <td>{{ task.get_priority_display }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.created_on | date:"d F Y" }}</td>
                        <td>{{ task.duration }} days</td>
                        <td>{{ task.get_approval_status_display }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" data-title="{{ task.title }}"
                                data-description="{{ task.description }}">Open</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-right clear-completed-row">
        <div class="col-12 mx-auto col-sm-4 mt-4 ml-sm-auto mr-sm-0 pr-0 text-center">
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="add-task-btn mr-sm-0 border-0" type="submit" value="1" name="clear_completed">Clear Completed</button>
                </form>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let month = window.location.href.split('months=')[1];
        let options = document.querySelectorAll("option");

        for (let opt of options) {
            if (opt.value == month) {
                opt.selected = true;
            }
            if (opt.value === 'Select Month') {
                opt.selected = true;
            }
        }
    });

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var title = button.data('title'); // Extract info from data-* attributes
        var description = button.data('description');
        var modal = $(this)
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').text(description);
    })

    n = new Date();
    y = n.getFullYear();
    let m = n.toLocaleString('default', { month: 'long' });
    d = n.getDate();
    document.getElementById("date").innerHTML = d + " " + m + " " + y;

    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
        v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));

    function submit_form() {
        var form = document.getElementById("my_form");
        form.submit();
    }

    function catchHref() {
        let month = window.location.href.split('months=')[1];
    }
</script>
{% endblock%}