{% extends "base.html" %}
{% load static %}

{% block content %}
<main>


    <table>
        {% for task in tasks %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Priority</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>Duration</th>
                <th>Approval</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.get_status_display }}</td>
            <td>{{ task.assigned_to.get_rank_display }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.created_on | date:"d F Y" }}</td>
            <td>{{ task.duration }} days</td>
            <td>{{ task.get_approval_status_display }}</td>
            <td>..button here..</td>
        </tr>
        {% endfor %}
    </table>


</main>

{% endblock %}