{% extends "base.html" %}
{% load static %}

{% block content %}
<main>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table-container">
                {% for task in tasks %}
                    <tr class="table-row">
                        <td class="table-cell">{{ task.title }}</td>
                        <td class="table-cell">{{ task.status }}</td>
                        <td class="table-cell">{{ task.created_by}}</td>
                        <td class="table-cell">{{ task.created_on }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


</main>

{% endblock %}